# Python sanal ortam (virtual environment)
.venv/
venv/
ENV/

# Python derleme dosyaları
__pycache__/
*.py[cod]
*$py.class

# Veritabanı (Vektör dökümanları yerel olarak tutulur, repoda olmamalı)
chromadb_storage/

#pdfs
data/papers/*.pdf

# Ortam değişkenleri ve gizli anahtarlar
.env

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db